body {
    font-family: "Inter", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(85, 85, 85);
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 25px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.in {
    display: flex;
    flex-direction: column;
    border: none;
    width: 400px;
}

input {
    padding: 10px;
    height: 40px;
    border: 1px solid rgba(85, 85, 85, 0.474);
    box-shadow: 2px rgb(85, 85, 85, 0.5);
}

input[type="email"] {
    border-radius: 5px 5px 0 0;    
}

input[type="password"] {
    border-radius: 0; 
}

input[type="submit"] {
    height: 40px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(85, 85, 85, 0.474);
    box-shadow: 2px rgb(85, 85, 85, 0.5);
    background-color: coral;
    color: rgb(85, 85, 85);
}

button a {
    text-decoration: none;
    color:  rgb(55, 55, 55);
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: left;
    gap: 10px;
    padding: 5px;
}