html, body {
  scroll-behavior: initial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  color: white;
  background-color: #02010a;
  /*
  ::-webkit-scrollbar {
    display: none;
  }
  */
  /*
  .noise {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url(https://i.gifer.com/5zWt.gif);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 8%;
    z-index: 999;
  }

  .preloader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: black;
    z-index: 9999;
    scroll
  }
  */
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(253, 254, 245, 0.1);
}
html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}
html .main .top, body .main .top {
  height: 0px;
  position: relative;
  top: -1rem;
}
html .main .navbar, body .main .navbar {
  width: 100%;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 10000;
  transition: transform 0.5s ease-in-out;
}
html .main .navbar .box, body .main .navbar .box {
  padding: 1rem;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}
html .main .navbar .box a, body .main .navbar .box a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.35s ease;
}
html .main .navbar .box a::before, body .main .navbar .box a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2c16de;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
html .main .navbar .box a:hover, body .main .navbar .box a:hover {
  color: rgb(255, 255, 255);
}
html .main .navbar .box a:hover::before, body .main .navbar .box a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
html .main .hero::before, body .main .hero::before {
  content: " ";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 12%;
  background-image: url(https://i.gifer.com/5zWt.gif); /*https://i.gifer.com/IVvP.gif*/
  background-position: 50% 0;
  background-size: cover;
}
html .main .hero, body .main .hero {
  position: sticky;
  top: 0;
  z-index: 1;
  width: auto;
  height: 100vh;
  background-color: #02010a;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
html .main .hero .box, body .main .hero .box {
  padding: 0 2rem;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2.5rem;
}
html .main .hero .box .up, body .main .hero .box .up {
  position: relative;
  top: 1.5rem;
  display: flex;
  justify-content: left;
  gap: 1.5rem;
}
html .main .hero .box .up .carrer, body .main .hero .box .up .carrer {
  width: 30%;
  font-family: "Sorts Mill Goudy", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  width: 8rem;
}
html .main .hero .box .up .firstname, body .main .hero .box .up .firstname {
  width: 70%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
html .main .hero .box .down, body .main .hero .box .down {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 1rem;
}
html .main .hero .box .down .scrldwn, body .main .hero .box .down .scrldwn {
  width: 55%;
  padding: 0.5rem;
  padding-right: 0.8rem;
  display: flex;
  position: relative;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  justify-content: left;
  line-height: normal;
}
html .main .hero .box .down .scrldwn span, body .main .hero .box .down .scrldwn span {
  font-size: 1rem;
}
html .main .hero .box .down .scrldwn img, body .main .hero .box .down .scrldwn img {
  height: 1.6rem;
}
html .main .hero .box .down .surname, body .main .hero .box .down .surname {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  bottom: 5rem;
  width: 45%;
}
html .main .main-content, body .main .main-content {
  margin: 1rem 0;
  position: relative;
  height: auto;
  z-index: 2;
  background-color: #02010a;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10rem 4rem;
}
html .main .main-content .content, body .main .main-content .content {
  height: 100%;
  justify-items: center;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
html .main .main-content .content .myself, html .main .main-content .content .tech, html .main .main-content .content .work, body .main .main-content .content .myself, body .main .main-content .content .tech, body .main .main-content .content .work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
html .main .main-content .content .myself a.button, html .main .main-content .content .tech a.button, html .main .main-content .content .work a.button, body .main .main-content .content .myself a.button, body .main .main-content .content .tech a.button, body .main .main-content .content .work a.button {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.35s ease;
}
html .main .main-content .content .myself a.button::before, html .main .main-content .content .tech a.button::before, html .main .main-content .content .work a.button::before, body .main .main-content .content .myself a.button::before, body .main .main-content .content .tech a.button::before, body .main .main-content .content .work a.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2c16de;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
html .main .main-content .content .myself a.button:hover, html .main .main-content .content .tech a.button:hover, html .main .main-content .content .work a.button:hover, body .main .main-content .content .myself a.button:hover, body .main .main-content .content .tech a.button:hover, body .main .main-content .content .work a.button:hover {
  color: rgb(255, 255, 255);
}
html .main .main-content .content .myself a.button:hover::before, html .main .main-content .content .tech a.button:hover::before, html .main .main-content .content .work a.button:hover::before, body .main .main-content .content .myself a.button:hover::before, body .main .main-content .content .tech a.button:hover::before, body .main .main-content .content .work a.button:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
html .main .main-content .content .myself .cat, html .main .main-content .content .tech .cat, html .main .main-content .content .work .cat, body .main .main-content .content .myself .cat, body .main .main-content .content .tech .cat, body .main .main-content .content .work .cat {
  font-size: 150%;
  font-weight: 200;
}
html .main .main-content .content .myself .content, html .main .main-content .content .tech .content, html .main .main-content .content .work .content, body .main .main-content .content .myself .content, body .main .main-content .content .tech .content, body .main .main-content .content .work .content {
  text-align: center;
  font-weight: 500;
  font-size: 250%;
}
html .main .main-content .content .myself button, html .main .main-content .content .tech button, html .main .main-content .content .work button, body .main .main-content .content .myself button, body .main .main-content .content .tech button, body .main .main-content .content .work button {
  font-size: 100%;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: white;
}
html .main .main-content .content .work .content, body .main .main-content .content .work .content {
  width: 100%;
  gap: 0;
  font-size: 300%;
  font-weight: 500;
}
html .main .main-content .content .work .content hr, body .main .main-content .content .work .content hr {
  margin: 0;
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid white;
}
html .main .main-content .content .work .content .prace, body .main .main-content .content .work .content .prace {
  position: relative;
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
html .main .footer::before, body .main .footer::before {
  content: " ";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 12%;
  background-image: url(https://i.gifer.com/5zWt.gif); /*https://i.gifer.com/IVvP.gif*/
  background-position: 50% 0;
  background-size: cover;
}
html .main .footer, body .main .footer {
  position: sticky;
  bottom: 0;
  background-color: #02010a;
  height: 100vh;
  width: auto;
  overflow: hidden;
}
html .main .footer .box, body .main .footer .box {
  position: relative;
  padding: 0 24rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 121px;
}
html .main .footer .box .content, body .main .footer .box .content {
  width: 100%;
}
html .main .footer .box .content .up, body .main .footer .box .content .up {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
html .main .footer .box .content .up .left, html .main .footer .box .content .up .right, body .main .footer .box .content .up .left, body .main .footer .box .content .up .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
html .main .footer .box .content .up .left a, html .main .footer .box .content .up .right a, body .main .footer .box .content .up .left a, body .main .footer .box .content .up .right a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
html .main .footer .box .content .up .backtop, body .main .footer .box .content .up .backtop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
html .main .footer .box .content .up .backtop img, body .main .footer .box .content .up .backtop img {
  height: 1.5rem;
  rotate: 180deg;
}
html .main .footer .box .content .up .right, body .main .footer .box .content .up .right {
  align-items: flex-end;
}
html .main .footer .box .content .mid, body .main .footer .box .content .mid {
  padding-bottom: 121px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
html .main .footer .box .content .mid .left, body .main .footer .box .content .mid .left {
  justify-items: left;
}
html .main .footer .box .content .mid .left .content, body .main .footer .box .content .mid .left .content {
  font-size: 2rem;
}
html .main .footer .box .content .mid .right, body .main .footer .box .content .mid .right {
  justify-items: right;
}
html .main .footer .box .content .mid .right .content, body .main .footer .box .content .mid .right .content {
  text-align: right;
  font-size: 2rem;
}
html .main .footer .box .content .down, body .main .footer .box .content .down {
  justify-self: right;
}
html .main .footer .box .background, body .main .footer .box .background {
  position: relative;
  width: 140%;
  overflow: visible;
}
html .main .footer a, body .main .footer a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.35s ease;
}
html .main .footer a::before, body .main .footer a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2c16de;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
html .main .footer a:hover, body .main .footer a:hover {
  color: rgb(255, 255, 255);
}
html .main .footer a:hover::before, body .main .footer a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
html .main .active, body .main .active {
  z-index: 1;
}
html .main .hidden, body .main .hidden {
  transform: translateY(-100%);
}

@media (max-width: 1600px) {
  html .main .footer .box, body .main .footer .box {
    position: relative;
    padding: 0 19.5rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 90.75px;
  }
  html .main .footer .box .content, body .main .footer .box .content {
    width: 100%;
    color: white;
  }
  html .main .footer .box .content .up, body .main .footer .box .content .up {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  html .main .footer .box .content .up .left a, html .main .footer .box .content .up .right a, body .main .footer .box .content .up .left a, body .main .footer .box .content .up .right a {
    font-size: 1.5rem;
  }
  html .main .footer .box .content .up .backtop img, body .main .footer .box .content .up .backtop img {
    height: 1rem;
    rotate: 180deg;
  }
  html .main .footer .box .content .mid, body .main .footer .box .content .mid {
    padding-bottom: 90.75px;
  }
  html .main .footer .box .content .mid .left .content, body .main .footer .box .content .mid .left .content {
    font-size: 1.5rem;
  }
  html .main .footer .box .content .mid .right, body .main .footer .box .content .mid .right {
    justify-items: right;
  }
  html .main .footer .box .content .mid .right .content, body .main .footer .box .content .mid .right .content {
    text-align: right;
    font-size: 1.5rem;
  }
  html .main .footer .box .background, body .main .footer .box .background {
    position: relative;
    width: 140%;
    overflow: visible;
  }
}/*# sourceMappingURL=index_stylesheet.css.map */