$main-font: "Inter", serif;
$side-font: "Sorts Mill Goudy", serif;;
$background-clr: #02010a;
$txt-clr-w: white;
$txt-clr-b: #02010a;
$clr-white: white;
html, body {
  scroll-behavior: smooth;
  scroll-behavior: initial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
  background-color: $background-clr;
  ::-webkit-scrollbar {
    width: 0.5rem;
    background-color: rgba(253, 254, 245, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
  }
  .main {
    .top {
      height: 0px;
      position: relative;
      top: -1rem;
    }
    .navbar {
      width: 100%;
      position: fixed;
      mix-blend-mode: difference;
      z-index: 10000;
      transition: transform 0.5s ease-in-out;
      .box {
        padding: 1rem;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        a {
          position: relative;
          text-decoration: none;
          color: rgb(255, 255, 255);
          transition: all .35s ease;
          &::before {
            content: ""; 
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #2c16de;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s; 
            transition: all 0.3s ease-in-out 0s; 
          }   
          &:hover {
          color: rgb(255, 255, 255);
            &::before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }   
          }   
        }
      }
    }
    .main-content {
        z-index: 10;
        position: relative;
        .content {
            height: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .box {
                height: 100vh;
                width: 50%;
                color: $txt-clr-b;
                box-sizing: border-box;
                border: 1px solid #02010a80;
                background-color: $clr-white;
                padding: 4rem;
                .img {
                  width: 100%;
                  height: 96%;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }
                .undercontent {
                  padding-top: 1rem;
                    height: fit-content;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .left {
                      width: fit-content;
                      justify-items: left;
                      .title {
                        font-size: 1.25em;
                      }
                      .subtitle {
                        font-size: medium;
                      }
                    }
                    .right {
                      opacity: 55%;
                      width: 60%;
                      text-align: right;
                    }
                }
            }
            #box-1, #box-2, #box-3{
              .img {
                border: 1px solid #02010a;
              }
            }
            #box-4 {
              .img {
                background-color: $background-clr;
                background-size: cover;
              }
            }
        }
    }
    .footer::before {
      content: ' ';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      opacity: 12%;
      background-image: url(https://i.gifer.com/5zWt.gif);/*https://i.gifer.com/IVvP.gif*/
      background-position: 50% 0;
      background-size: cover;
    }
    .footer {
      position: sticky;
      bottom: 0;
      background-color: $background-clr;
      height: 100vh;
      width:auto;
      overflow: hidden;
      .box {
        position: relative; 
        padding: 0 24rem;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 121px;
        .content {
          width: 100%;
          color: $clr-white;
          .up {
            padding-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .left, .right {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              a {
                font-size: 2rem;
                text-decoration: none;
                color: $txt-clr-w;
              }
            }
            .backtop {
              display: flex;
              flex-direction: row;
              align-items: center;
              img {
                height: 1.5rem;
                rotate: 180deg;
              }
            }
            .right {
              align-items: flex-end;
            }
          }
          .mid {
            padding-bottom: 121px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .left {
              justify-items: left;
              .content {
                font-size: 2rem;
              }
            }
            .right {
              justify-items: right;
              .content {
                text-align: right;
                font-size: 2rem;
              }
            }
          }
          .down {
            justify-self: right;
          }
        }
          .background {
            position: relative;
            width: 140%;
            overflow: visible;
        }
      }
      a {
        position: relative;
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: all .35s ease;
        &::before {
          content: ""; 
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #2c16de;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s; 
          transition: all 0.3s ease-in-out 0s; 
        }   
        &:hover {
        color: rgb(255, 255, 255);
          &::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }   
        }   
      }
    }
    .hidden {
      transform: translateY(-100%);
    }
  }
}